<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script>
        $(document).ready(function () {
            $("#myModal").modal('show');
        });
    </script>
</head>

<body>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Invite Your Friends</h4>
                </div>
                <div class="modal-body">
                    <p>Copy & Share this url <a href="/"><code id="myInput"
                                title="Room Id">http://localhost:5555/{{roomid}}</code></a>
                        <a onclick="copyTextFromElement('myInput')" style="cursor: pointer;" title="Copy to Clipboard">
                            <i class="material-icons">content_copy</i></a>
                    </p>

                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    function copyTextFromElement(elementID) {
        let element = document.getElementById(elementID); //select the element
        let elementText = element.textContent; //get the text content from the element
        copyText(elementText); //use the copyText function below
    }
    function copyText(text) {
        navigator.clipboard.writeText(text);
    }
</script>