<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="/socket.io/socket.io.js"></script>
    <script defer src="/script.js"></script>

    <title>Socket.io</title>
  </head>
  <body>
    <h1>Socket.io</h1>
    <!-- <div id="socketId"></div> -->

    <button id="boombtn">Boom</button>
  </body>
</html>
