<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Email</title>
</head>

<body>

    <h3>Confirmation Mail sent to {{message}} </h3>
    <h4>Please also check spam folder</h4>

</body>

</html>