@media(max-width:2100px) and (min-width: 1199px) {
    .title {
        color: rgb(255, 217, 0)
    }

    .subtitle {
        color: rgb(11, 247, 255);
    }

    .para {
        color: rgb(247, 0, 255);
    }
}

@media(max-width:1200px) and (min-width: 700px) {
    .title {
        color: red
    }

    .subtitle {
        color: green;
    }

    .para {
        color: blue;
    }
}


@media (max-width: 600px) and (min-width: 400px) {
    .title {
        color: blue
    }

    .subtitle {
        color: orange;
    }

    .para {
        color: blue;
    }
}