<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>

    <form action="/signup" method="post">

    <input type="text" name="username" id="username">
    <label for="username">Full Name</label>

    <input type="text" name="email" id="email">
    <label for="email">email</label>

    <input type="password" name="password" id="password">
    <label for="password">Password</label>

    <input type="submit" value="Submit">

    </form>

    <a href="http://localhost:5000/auth/google">Google+</a>

</body>

</html>