<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup & Login</title>
</head>

<body>

    <h1>Signup & Login</h1>

    <div>{{error}}</div>

    <a href="/YXBp/c2lnbnVw">
        <input type="button" value="Signup">
    </a>

    <a href="/YXBp/bG9naW4">
        <input type="button" value="Login">
    </a>
</body>

</html>