<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>

    <div>{{message}}</div>
    <h1>Login</h1>
    <div>{{error}}</div>
    <form action="/YXBp/bG9naW4/dXNlcmxvZ2lu" method="POST">

        <input type="email" name="email" placeholder="Enter Your Email...">
        <br>
        <input type="password" name="password" placeholder="Enter Your Password...">
        <a href="/YXBp/dXBkYXRl"><span style="font-size: 15px;">Forget Password?</span></a>
        <br>
        <input type="submit" value="login">

    </form>
</body>

</html>