#btn {
  height: 100px;
  width: 200px;
}

#btn:hover {
  background-color: crimson;
}

#btn:active {
  background-color: blue;
}

#btn:visited {
  background-color: green;
}

input:focus {
  font-size: 30pt;
}
