<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
</head>

<body>

    <h1>Forget Password</h1>
    <div>{{error}}</div>

    <form action="/api/route/forgetpassword/currentuser" method="POST">
        <input type="email" name="email" placeholder="Enter Your Email...">
        <input type="password" name="password" placeholder="Enter Your Password...">
        <input type="submit" value="update-password">
    </form>

</body>

</html>