<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>

<body>

    <table cellspacing="5" cellpadding="10" border="0">
        <tr>
            <th>Email</th>
            <td>{{user.email}}</td>
        </tr>

        <tr>
            <th>Username</th>
            <td>{{user.username}}</td>
        </tr>

        <tr>
            <th>Created On</th>
            <td>{{user.createdon}}</td>
        </tr>

    </table>
</body>

</html>