<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>

    <div>{{error}}</div>
    <h1>Signup</h1>

    <form action="/user/signup/route/signup" method="POST">
        <input name="email" value="{{email}}">
        <input name="username" value="{{username}}">
        <input type="password" name="password">
        <input type="password" name="confirmpassword">
        <input type="submit">
    </form>

</body>

</html>